.main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 935px;
    height: 54px;
    border-top: 1px solid #DBDBDB ;
    border-bottom: 1px solid #DBDBDB ;
    background-color: #FFFFFF;
    box-sizing: border-box;
    z-index: 9;
    padding: 0 16px;
    position: fixed;
 

}

.insta-logo{
    width: 103px;
    height: 29px;
 

}


.rigth-logo{
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
  
}

@media (max-width: 614px) {
    .top-rigth {
        display: none;
    }
    .rigth-logo{
        display: none;
    }
    .main-top{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        left: 0;
        position: static;
       

        
       
    }
}