
.mobile-bar{
    display: none;
}
@media (max-width: 600px){

.mobile-bar{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 52px;
    border: 1px solid black; 
    position: fixed;
    z-index: 8;
    bottom: 0;
    left: 0;
}
.mobile-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.mobile-tumb{
    width: 22px;
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
}
}